<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>

    <Properties>
        <property name="APP_NAME">Israel</property>
    </Properties>

    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    %d{yyyy-MM-dd HH:mm:ss.SSS} [${APP_NAME}] [%-5level] [%t] [%X{traceId}] [%X{spanId}] [%X{spanExportable}] [%c{1}] %msg%n
                </pattern>
            </PatternLayout>
        </Console>
<!--        <Console name="Console" target="SYSTEM_OUT">-->
<!--            <JsonLayout complete="false" compact="true" eventEol="true"/>-->
<!--            <PatternLayout-->
<!--                    pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />-->
<!--        </Console>-->
        <Console name="LogInJSON" target="SYSTEM_OUT">
            <JsonLayout complete="false" compact="false" properties="true" eventEol="true">
            </JsonLayout>
        </Console>
        <Console name="ConsoleJson" target="SYSTEM_OUT" follow="true">
            <JsonTemplateLayout eventTemplateUri="classpath:EcsLayout.json"/>
        </Console>
    </Appenders>
    <Loggers>

        <Logger name="org.springframework.web" level="info" additivity="false">
<!--            <AppenderRef ref="LogInJSON"/>-->
<!--            <AppenderRef ref="Console-Appender"/>-->
        </Logger>

        <Logger name="com.logging.jsonlog" level="debug" additivity="false">
<!--            <AppenderRef ref="LogInJSON"/>-->
<!--            <AppenderRef ref="Console-Appender"/>-->
            <AppenderRef ref="ConsoleJson"/>
        </Logger>

        <!-- LOG everything at INFO level -->
        <Root level="info">
<!--            <AppenderRef ref="LogInJSON" />-->
<!--            <AppenderRef ref="Console-Appender" />-->
            <AppenderRef ref="ConsoleJson"/>
        </Root>
    </Loggers>
</Configuration>